<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Calabonga.Owin.Application" />
    <meta name="keywords" content="Calabonga Owin Application" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="Shortcut Icon" href="favicon.ico" />
    <title>Welcome</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Act ion</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>SPA & WebAPI</h1>
            <p>This is a clear Wep Api application base on OWIN middleware. This is application build without ASP.NET MVC.</p>
            <p class="text-right text-muted">version 0.1.0</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>This application template was created for Single Page Application (SPA) application. This is the version 1.0.0 of the solution.</p>
            </div>
            <div class="col-md-4">
                <p>The JavaScript frameworks that you can use to create SPA is:</p>
                <ul>
                    <li><a href="https://angularjs.org/">Angular JS</a></li>
                    <li><a href="http://aurelia.io/">Aurelia</a> (Old version <a href="http://durandaljs.com/">Durandal JS</a>)</li>
                    <li><a href="http://www.getbreezenow.com/">Breeze JS</a></li>
                    <li><a href="http://www.johnpapa.net/hottowel/">HotTowel</a></li>
                    <li><a href="http://meteor.com">Meteor</a></li>
                    <li><a href="http://emberjs.com/">Ember</a></li>
                    <li><a href="http://backbonejs.org/"></a>Backbone JS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Created by <a href="http://www.calabonga.net">Calabonga.NET</a>. You can read article about <a href="http://www.calabonga.net/blog/post/141">SPA</a> on the author blog.</p>
            </div>
        </div>
        <footer class="row">
            <div class="col-md-12">
                 <small class="text-muted">2015-2017 &copy; Single Page Application</small>
            </div>
        </footer>

    </div>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>
